@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    font-family: 'Playfair Display', serif;
}
.container{
    max-width: 600px;
    margin: 100px auto;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 10px;
}
.btns{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
blockquote{
    font-size: 22px;
    font-weight: 400;
}
blockquote::before,blockquote::after{
    content:'"';
    width: 10px;
    height: 10px;
    
}
#author{
   position: relative;
    display: block;
    float: right;
    background-color: #76aade;

}

#author::before{
    content: '';
    width: 16px;
    height: 2px;
    background-color: #09090a;
    position: absolute;
   top: 50%;
   left: -20%;
} 
button:first-child{
    background-color:#76aade ;
    border: none;
}